# Puerto del servidor
PORT=3000

# JWT
JWT_SECRET=mi-secreto-super-seguro-para-jwt
JWT_EXPIRES_IN=1d

PORT=3000

#my sql
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=stock_db
DB_CONNECTION_LIMIT=10

