:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;     
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-container {
    height: 150px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
    z-index: 1000;
   background-color: #faf8f8;
    border-bottom: 1px solid #ccc; 
    margin-bottom: 10px; 
    
}


body {
background-image: url(assets/fondomejorado.jpg);
background-size: cover;  
min-height: 100vh;
margin: 0;
}

